body{
    font-family: Arial;
    margin-top: 94.5px;
    margin-bottom: 94.5px;
    margin-left: 20px;
    margin-right: 20px;
}

div{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
}

p,
ul,
h1{
    font-size: 16px;
}

.titulo{
    font-weight: bold;
}

.red{
    color: rgb(192, 0, 0);
    text-align: center;
}

.yellow{
    color: rgb(255, 192, 0);
    text-align: center;
}

.sinsaltodelinea{
    display: inline;
}

.sinsaltodelinea p{
    display: inline;
    margin: 0;
}