body{
    font-family: Arial;
    margin-left: 113.4px;
    margin-right: 113.4px;
    margin-top: 94.5px;
    margin-bottom: 94.5px;
}

p{
    font-size: 24px;
}

.titulo{
    font-weight: bold;
}

.red{
    color: rgb(192, 0, 0);
    text-align: center;
}

.yellow{
    color: rgb(255, 192, 0);
    text-align: center;
}

.sinsaltodelinea{
    display: inline;
}

.sinsaltodelinea p{
    display: inline;
    margin: 0;
}